<robot name="test_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="dynamixel" value="package://snake/mesh/dynamixel.stl"/> 
  <xacro:property name="mass_d" value="0.023967239474" />
	<xacro:property name="ixx_d" value="3.5392036062e-06" />
	<xacro:property name="iyy_d" value="3.2067700889e-06" />
  <xacro:property name="izz_d" value="2.5171567719e-06" />
	<xacro:property name="ixy_d" value="0" />
	<xacro:property name="iyz_d" value="0" />
  <xacro:property name="izx_d" value="0"/>
  <xacro:property name="gear" value="1" />

  <xacro:property name="adaptor" value="package://snake/mesh/adaptor.stl"/>
  <xacro:property name="mass_a" value="0.0060293114415" />
  <xacro:property name="ixx_a" value="1.4057440439e-06" />
  <xacro:property name="iyy_a" value="1.144769055e-06" />
  <xacro:property name="izz_a" value="5.779531603e-07" />
  <xacro:property name="ixx_a" value="0" />
  <xacro:property name="iyy_a" value="0"/>
  <xacro:property name="izz_a" value="0" />

  <xacro:property name="fixed_pos" value="0.046" />

  <!-- 定義するdynamixelの名前 -->
  <xacro:property name="dynamixel_names" value="${[
                                        'dynamixel_001',
                                        'dynamixel_101',
                                        'dynamixel_002',
                                        'dynamixel_102',
                                        'dynamixel_003',
                                        'dynamixel_103',
                                        'dynamixel_004',
                                        'dynamixel_104',
                                        'dynamixel_005',
                                        'dynamixel_105'
                                          ]}" />
  <!-- 定義するbracketの名前 -->
  <xacro:property name="bracket_names" value="${[
                                        'bracket_001',
                                        'bracket_002',
                                        'bracket_003',
                                        'bracket_004',
                                        'bracket_005',
                                        'bracket_006',
                                        'bracket_007',
                                        'bracket_008',
                                        'bracket_009',
                                        'bracket_010'
                                          ]}" />



  <xacro:property name="joint_setting" value="${[
                ['joint_001', 'dynamixel_001', 'bracket_001'],
                ['fixed_001', 'bracket_001', 'dynamixel_101', 'odd'],
                ['joint_002', 'dynamixel_101', 'bracket_002'],
                ['fixed_002', 'bracket_002', 'dynamixel_002', 'even'],
                ['joint_003', 'dynamixel_002', 'bracket_003'],
                ['fixed_003', 'bracket_003', 'dynamixel_102', 'odd'],
                ['joint_004', 'dynamixel_102', 'bracket_004'],
                ['fixed_004', 'bracket_004', 'dynamixel_003', 'even'],
                ['joint_005', 'dynamixel_003', 'bracket_005'],
                ['fixed_005', 'bracket_005', 'dynamixel_103', 'odd'],
                ['joint_006', 'dynamixel_103', 'bracket_006'],
                ['fixed_006', 'bracket_006', 'dynamixel_004', 'even'],
                ['joint_007', 'dynamixel_004', 'bracket_007'],
                ['fixed_007', 'bracket_007', 'dynamixel_104', 'odd'],
                ['joint_008', 'dynamixel_104', 'bracket_008'],
                ['fixed_008', 'bracket_008', 'dynamixel_005', 'even'],
                ['joint_009', 'dynamixel_005', 'bracket_009'],
                ['fixed_009', 'bracket_009', 'dynamixel_105', 'odd'],
                ['joint_010', 'dynamixel_105', 'bracket_010']
                                              ]}" />

<!-- 定義するactuatorの名前: joint名, motor名, transmission名 -->
  <xacro:property name="actuator_setting" value="${[
                                        ['joint_001', 'motor_001', 'trans_001'],
                                        ['joint_002', 'motor_002', 'trans_002'],
                                        ['joint_003', 'motor_003', 'trans_003'],
                                        ['joint_004', 'motor_004', 'trans_004'],
                                        ['joint_005', 'motor_005', 'trans_005'],
                                        ['joint_006', 'motor_006', 'trans_006'],
                                        ['joint_007', 'motor_007', 'trans_007'],
                                        ['joint_008', 'motor_008', 'trans_008'],
                                        ['joint_009', 'motor_009', 'trans_009'],
                                        ['joint_010', 'motor_010', 'trans_010']
                                          ]}" />

<!-- 定義するactuatorの名前 -->
  <xacro:property name="joint_names" value="${[
                                        'joint_001',
                                        'joint_002',
                                        'joint_003',
                                        'joint_004',
                                        'joint_005',
                                        'joint_006',
                                        'joint_007',
                                        'joint_008',
                                        'joint_009',
                                        'joint_010'
                                        ]}" />

	<link name="world"/>

  <!-- マクロ関数の定義 -->

  <!-- dynamixelの定義を作るマクロ関数 -->
  <xacro:macro name="dynamixel_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="item" value="${items.pop(0)}"/>

      <!-- link名 -->
      <link name="${item}">

        <!-- 見た目 -->
        <visual>
          <geometry>
            <mesh filename = "${dynamixel}"/>
          </geometry>
          <material name="red">
            <color rgba="0.7 0.0 0.0 1.0"/>
          </material>
                <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
        
        <!--物理的特性-->
        <!--干渉-->
        <collision>
          <geometry>
            <mesh filename = "${dynamixel}"/>
          </geometry>
        </collision>
        <!--慣性-->
        <inertial>
          <mass value="${mass_d}"/>
          <inertia ixx="${ixx_d}" iyy="${iyy_d}" izz="${izz_d}" ixy="0" ixz="0" iyz="0"/>
        </inertial>
      </link>

      <!-- 再帰 -->
      <xacro:dynamixel_definition/>
    </xacro:if>
  </xacro:macro>


  <!--Bracketの定義を作るマクロ関数-->
  <xacro:macro name="bracket_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="item" value="${items.pop(0)}"/>

      <link name="${item}">
      <visual>
        <geometry>
          <mesh filename = "${adaptor}"/>
        </geometry>
        <material name="silver">
          <color rgba="0.75 0.75 0.75 1"/>
        </material>
              <origin rpy="0 0 0" xyz="0 0 0"/>
      </visual>
      <!--物理的特性-->
      <!--干渉-->
      <collision>
        <geometry>
          <mesh filename = "${adaptor}"/>
        </geometry>
      </collision>

      <!--慣性-->
      <inertial>
        <mass value="${mass_a}"/>
        <inertia ixx="${ixx_a}" iyy="${iyy_a}" izz="${izz_a}" ixy="0" ixz="0" iyz="0"/>
      </inertial>

    </link>
    <!-- 再帰 -->
    <xacro:bracket_definition/>
    </xacro:if>
  </xacro:macro>

  <!-- ジョイントを定義するマクロ関数 -->
  <xacro:macro name="joint_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="config" value="${items.pop(0)}"/>
      <xacro:property name="name" value="${config[0]}"/>
      <xacro:property name="parent" value="${config[1]}"/>
      <xacro:property name="child" value="${config[2]}"/>

      <xacro:if value="${'fixed' in name}">
        <xacro:property name="flag" value="${config[3]}"/>
        <xacro:property name="joint_type" value="fixed"/>
        <xacro:property name="x" value="${fixed_pos}"/>
        
        <xacro:if value="${flag == 'odd'}">
          <xacro:property name="joint_type" value="fixed"/>
          <xacro:property name="rpy" value="${pi/2} 0 0"/>
        </xacro:if>
        <xacro:if value="${flag == 'even'}">
          <xacro:property name="joint_type" value="fixed"/>
          <xacro:property name="rpy" value="${-pi/2} 0 0"/>
        </xacro:if>
      
      </xacro:if>
      <xacro:if value="${'joint' in name}">
        <xacro:property name="joint_type" value="revolute"/>
        <xacro:property name="x" value="${0}"/>
        <xacro:property name="rpy" value="0 0 0"/>
      </xacro:if>

      <joint name="${name}" type="${joint_type}">
        <xacro:if value="${'joint' in name}">
          <axis xyz="0 1 0"/>
        </xacro:if>
        <parent link="${parent}"/>
        <child  link="${child}"/>
        <origin xyz="${x} 0 0" rpy="${rpy}"/>
          <limit lower="${-pi/2}" upper="${pi/2}" effort="0" velocity="0"/>
      </joint>

    <!-- 再帰 -->
    <xacro:joint_definition/>
    </xacro:if>
  </xacro:macro>

  <!--アクチュエータの定義を作るマクロ関数-->
  <xacro:macro name="transmission_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="config" value="${items.pop(0)}"/>
      <xacro:property name="joint" value="${config[0]}"/>
      <xacro:property name="trans" value="${config[1]}"/>
      <xacro:property name="actuator" value="${config[2]}"/>

    <transmission name="${trans}">
      <type>transmission_interface/SimpleTransmission</type>
      <!--関節の指定-->
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <!--アクチュエータの定義（ギア比1の減速機）-->
      <actuator name="${actuator}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>${gear}</mechanicalReduction>
      </actuator>
    </transmission>
    <!-- 再帰 -->
    <xacro:transmission_definition/>
    </xacro:if>
  </xacro:macro>


  <!--Dynamixelの定義-->
  <xacro:dynamixel_definition items="${dynamixel_names}"/>
  <!--ブラケットの定義-->
  <xacro:bracket_definition items="${bracket_names}"/>
  <!--ジョイントの定義-->
  <!--ワールドとリンク1-->
  <joint name="fixed_000" type="fixed">
    <parent link="world"/>
    <child  link="dynamixel_001"/>
    <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
      <limit lower="${-pi/2}" upper="${pi/2}" effort="0" velocity="0"/>
  </joint>
  <xacro:joint_definition items="${joint_setting}"/>
  <!-- アクチュエータの定義 -->
  <xacro:transmission_definition items="${actuator_setting}"/>

  <gazebo>
    <!--関節状態配信プラグインを指定-->
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <!--対象とする関節名を指定-->
      <jointName>
      ${joint_names}
      </jointName>
    </plugin>
  </gazebo>
</robot>