<robot name="test_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="dynamixel" value="package://snake/mesh/dynamixel.stl"/> 
  <xacro:property name="mass_d" value="0.023967239474" />
  <xacro:property name="width_d" value="0.024" />
  <xacro:property name="depth_d" value="0.024" />
  <xacro:property name="height_d" value="0.036" />
	<xacro:property name="ixx_d" value="0.0000035392036062" />
	<xacro:property name="iyy_d" value="0.0000032067700889" />
  <xacro:property name="izz_d" value="0.0000025171567719" />
  <xacro:property name="gear" value="1" />

  <xacro:property name="adaptor" value="package://snake/mesh/adaptor.stl"/>
  <xacro:property name="mass_a" value="0.0060293114415" />
  <xacro:property name="width_a" value="0.018" />
  <xacro:property name="depth_a" value="0.035" />
  <xacro:property name="height_a" value="0.015" />
  <xacro:property name="ixx_a" value="0.0000014057440439" />
  <xacro:property name="iyy_a" value="0.000001144769055" />
  <xacro:property name="izz_a" value="0.0000005779531603" />

  <xacro:property name="fixed_pos" value="0.046" />

  <!-- 定義するdynamixelの名前 -->
  <xacro:property name="dynamixel_names" value="${[
                                        'dynamixel_001',
                                        'dynamixel_101',
                                        'dynamixel_002',
                                        'dynamixel_102',
                                        'dynamixel_003',
                                        'dynamixel_103',
                                        'dynamixel_004',
                                        'dynamixel_104',
                                        'dynamixel_005',
                                        'dynamixel_105'
                                          ]}" />
  <!-- 定義するbracketの名前 -->
  <xacro:property name="bracket_names" value="${[
                                        'bracket_001',
                                        'bracket_002',
                                        'bracket_003',
                                        'bracket_004',
                                        'bracket_005',
                                        'bracket_006',
                                        'bracket_007',
                                        'bracket_008',
                                        'bracket_009',
                                        'bracket_010'
                                          ]}" />



  <xacro:property name="joint_setting" value="${[
                ['joint_001', 'dynamixel_001', 'bracket_001'],
                ['fixed_001', 'bracket_001', 'dynamixel_101', 'odd'],
                ['joint_002', 'dynamixel_101', 'bracket_002'],
                ['fixed_002', 'bracket_002', 'dynamixel_002', 'even'],
                ['joint_003', 'dynamixel_002', 'bracket_003'],
                ['fixed_003', 'bracket_003', 'dynamixel_102', 'odd'],
                ['joint_004', 'dynamixel_102', 'bracket_004'],
                ['fixed_004', 'bracket_004', 'dynamixel_003', 'even'],
                ['joint_005', 'dynamixel_003', 'bracket_005'],
                ['fixed_005', 'bracket_005', 'dynamixel_103', 'odd'],
                ['joint_006', 'dynamixel_103', 'bracket_006'],
                ['fixed_006', 'bracket_006', 'dynamixel_004', 'even'],
                ['joint_007', 'dynamixel_004', 'bracket_007'],
                ['fixed_007', 'bracket_007', 'dynamixel_104', 'odd'],
                ['joint_008', 'dynamixel_104', 'bracket_008'],
                ['fixed_008', 'bracket_008', 'dynamixel_005', 'even'],
                ['joint_009', 'dynamixel_005', 'bracket_009'],
                ['fixed_009', 'bracket_009', 'dynamixel_105', 'odd'],
                ['joint_010', 'dynamixel_105', 'bracket_010']
                                              ]}" />





	<link name="world"/>

  <!-- マクロ関数の定義 -->

  <!-- dynamixelの定義を作るマクロ関数 -->
  <xacro:macro name="dynamixel_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="item" value="${items.pop(0)}"/>

      <!-- link名 -->
      <link name="${item}">

        <!-- 見た目 -->
        <visual>
          <geometry>
            <mesh filename = "${dynamixel}"/>
          </geometry>
          <material name="red">
            <color rgba="0.7 0.0 0.0 1.0"/>
          </material>
                <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
        
        <!--物理的特性-->
        <!--干渉-->
        <collision>
          <geometry>
            <mesh filename = "${dynamixel}"/>
          </geometry>
        </collision>
        <!--慣性-->
        <inertial>
          <mass value="${mass_d}"/>
          <inertia ixx="${ixx_d}" iyy="${iyy_d}" izz="${izz_d}" ixy="0" ixz="0" iyz="0"/>
        </inertial>
      </link>

      <!-- 再帰 -->
      <xacro:dynamixel_definition/>
    </xacro:if>
  </xacro:macro>


  <!--Bracketの定義を作るマクロ関数-->
  <xacro:macro name="bracket_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="item" value="${items.pop(0)}"/>

      <link name="${item}">
      <visual>
        <geometry>
          <mesh filename = "${adaptor}"/>
        </geometry>
        <material name="silver">
          <color rgba="0.75 0.75 0.75 1"/>
        </material>
              <origin rpy="0 0 0" xyz="0 0 0"/>
      </visual>
      <!--物理的特性-->
      <!--干渉-->
      <collision>
        <geometry>
          <mesh filename = "${adaptor}"/>
        </geometry>
      </collision>

      <!--慣性-->
      <inertial>
        <mass value="${mass_a}"/>
        <inertia ixx="${ixx_a}" iyy="${iyy_a}" izz="${izz_a}" ixy="0" ixz="0" iyz="0"/>
      </inertial>

    </link>
    <!-- 再帰 -->
    <xacro:bracket_definition/>
    </xacro:if>
  </xacro:macro>

  <!-- ジョイントを定義するマクロ関数 -->
  <xacro:macro name="joint_definition" params="items:=^">
    <xacro:if value="${items}">
      <!-- pop: listから取り出し -->
      <xacro:property name="config" value="${items.pop(0)}"/>
      <xacro:property name="name" value="${config[0]}"/>
      <xacro:property name="parent" value="${config[1]}"/>
      <xacro:property name="child" value="${config[2]}"/>

      <xacro:if value="${'fixed' in name}">
        <xacro:property name="flag" value="${config[3]}"/>
        <xacro:property name="joint_type" value="fixed"/>
        <xacro:property name="x" value="${fixed_pos}"/>
        
        <xacro:if value="${flag == 'odd'}">
          <xacro:property name="joint_type" value="fixed"/>
          <xacro:property name="rpy" value="${pi/2} 0 0"/>
        </xacro:if>
        <xacro:if value="${flag == 'even'}">
          <xacro:property name="joint_type" value="fixed"/>
          <xacro:property name="rpy" value="${-pi/2} 0 0"/>
        </xacro:if>
      
      </xacro:if>
      <xacro:if value="${'joint' in name}">
        <xacro:property name="joint_type" value="revolute"/>
        <xacro:property name="x" value="${0}"/>
        <xacro:property name="rpy" value="0 0 0"/>
      </xacro:if>

      <joint name="${name}" type="${joint_type}">
        <xacro:if value="${'joint' in name}">
          <axis xyz="0 1 0"/>
        </xacro:if>
        <parent link="${parent}"/>
        <child  link="${child}"/>
        <origin xyz="${x} 0 0" rpy="${rpy}"/>
          <limit lower="${-pi/2}" upper="${pi/2}" effort="0" velocity="0"/>
      </joint>

    <!-- 再帰 -->
    <xacro:joint_definition/>
    </xacro:if>
  </xacro:macro>

  <!--Dynamixelの定義-->
  <xacro:dynamixel_definition items="${list(dynamixel_names)}"/>
  <!--ブラケットの定義-->
  <xacro:bracket_definition items="${list(bracket_names)}"/>
  <!--ジョイントの定義-->
  <!--ワールドとリンク1-->
  <joint name="fixed_000" type="fixed">
    <parent link="world"/>
    <child  link="dynamixel_001"/>
    <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
      <limit lower="${-pi/2}" upper="${pi/2}" effort="0" velocity="0"/>
  </joint>

  <xacro:joint_definition items="${list(joint_setting)}"/>

</robot>