<launch>
	<arg name="model" default="$(find snake)/urdf/snake_stl.xacro"/>
	<arg name="gui" default="true" />
	<arg name="rvizconfig" default="$(find snake)/rviz/snake10.rviz" />

	<!--snakeのURDFモデルをパラメータサーバにロードする-->
	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />


	<!--robot state publisher-->
	<node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!--rviz表示-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
